html {
    scroll-behavior: smooth;}
body{
    background: linear-gradient(#3c857b, #19316d) fixed;
    color:#eeeeee;
    text-align: center;}
.container{
    margin:auto;}
.space{
    height:20vh;
}
#name{
    height:70vh;
    object-fit:contain;
    margin:auto;}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf'); } 
.projects .title{
    margin-top:30px;
    text-align:left}
.projects .thumbnail img{
    border-radius: 1vw;
    margin-top:10px;
    width:100%;
    object-fit: contain;
    filter: saturate(0.8);}
.projects .thumbnail img:hover{
    filter:brightness(80%);
    cursor: pointer;
}
.contact-icon{
    margin:auto;}
.contact-icon img{
    max-width:100%;
    max-height:40vh;
    object-fit:contain;}
/* fonts */
h1, h2, h3, h4, h5, h6{
    font-family:chickadee;}
h1{
    font-size:90px;}
h2{
    font-size:60px;}
p{
    font-family:sans-serif;
    font-size:1.7em;
    text-align:left;}
span{
    color:rgb(105, 221, 134);
}
a{
    font-size:25px;
    color:rgb(109, 209, 255);}
a:hover{
    color:white;}
/* */
@media only screen and (max-width: 750px) {
    body{background:#283e7a;}
    h1{font-size:50px;}
    h2{font-size:30}
    p{font-size:15px;
        line-height:18px}
    #name{width:100%;}
    #door{margin:0,0,0,0;
        padding-right:20px;
        width:80%;
        src:"../../images/doorOpen2.gif"}
  }