html {
    scroll-behavior: smooth;}
body{
    background: linear-gradient(#19316d,#a5548d) fixed;
    color:#eeeeee;}
.main{
    text-align: center;}
.thumbnail{
    max-width:500px;
    width:100%;
    object-fit: contain;
    float:center;
}
img{
    border-radius: 5%;
}
.poco{
    width:100%;
    object-fit:contain;
}
/* fonts */
h1{
    font-family:chickadee;
    font-size:5em;}
p{
    font-family:sans-serif, Helvetica, sans-serif;
    font-size:1.3em;
    line-height:35px;
    text-align:justify;}
.space{
    padding:8vh;
}
#top{
    font-size:20px;
    color:white;
}
#top:hover{
    color:lightgray;
}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf');} 

@media only screen and (max-width: 750px) {
    body{background:#283e7a;}
    p{font-size:15px;
    line-height:18px;
    padding:0 10%;}
    .nav{visibility:hidden;}
    .navbar{visibility:visible;}
    .poco{width:70%;}
  }
@media (min-width: 1200px){
    .container{width:960px;}
} 