html {
    scroll-behavior: smooth;}
body{
    background: linear-gradient(#19316d,#a5548d) fixed;
    color:#eeeeee;}
.main{
    text-align: center;}
.thumbnail{
    margin-top:0px;
    max-width:600px;
    float:center;
}
img{
    margin-top:20px;
    width:100%;
    object-fit:contain;
}

h1,h2,h3,h4,h5,h6{
    font-family:chickadee;}
h1{font-size:80px;}
h2{font-size:50px;
    text-align:left;
    margin-top:20px;}
p{
    margin-top:20px;
    font-family:sans-serif, Helvetica, sans-serif;
    font-size:1.3em;
    line-height:35px;
    text-align:justify;}
a{
    font-size:20px;
    color:rgb(109, 209, 255);
}
a:hover{
    color:white;
}
.space{
    padding:8vh;
}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf');} 

@media only screen and (max-width: 750px) {
    body{background:#283e7a;}
    h1{font-size:60px;}
    h2{font-size:40px;}
    p{font-size:16px;
    line-height:20px;}
    a{font-size:16px;}
  }
@media (min-width: 1200px){
    .container{width:960px;}
}