html {
    scroll-behavior: smooth;}
body{
    background: linear-gradient(#19316d,#a5548d) fixed;
    color:#eeeeee;
    position: relative;
    z-index:-1;}
.space{
    padding:8vh;
}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf'); } 
.main{
    text-align: center;
    position:relative;
    z-index:-1;}
.projects{
    width:100%;
}
.row{
    width:100%;
    padding-bottom:5%;
    margin:0;
}
.thumbnail img{
    width:100%;
    object-fit: contain;
    filter: saturate(0.8);
}
.description{
    text-align:center;
    padding:0 4%;
}
.description h1{
    font-size:40px;
    border-bottom: 2px solid white;
}
.toWorks{
    color:rgba(255,255,255,0.2);
    position: fixed;
    height:100vh; 
    width: 100vw;
    pointer-events: none;
}
.toWorks p{
    text-align: left;
    position: absolute;
    left:2%;
    top:20%;
    cursor: pointer;
    background-color:rgba(0,0,0,0.2);
    padding:5pt;
    border-radius: 5%;
    pointer-events: auto;
    z-index: 3;
}
.toWorks p:hover{
    color:white;
    background-color:rgba(0,0,0,0.4);
}
/* fonts */
h1{
    font-family:chickadee;
    font-size:5em;}
p{
    font-family:sans-serif, Helvetica, sans-serif;
    font-size:1.3em;
    line-height:35px;
    text-align:left;}
/* */
@media only screen and (max-width: 750px) {
    body{background:#283e7a;}
    .loading{background:#283e7a;}
    .loading img{width:40%;}
    .description{padding:4%}
    .description h1{font-size:30px;}
    p{font-size:15px;
    line-height:18px}
    .nav{visibility:hidden;}
    .navbar{
        visibility:visible;}
  }