body{
    background-color:#2c447d;
    color:#eeeeee;}
/* Navbars */
.nav{
    top: 0;
    right:0;
    position:fixed;
    z-index:1;}
.navItem img{
    width:140px;
    margin:0px 20px;
    z-index: 2;}
.nav-item img{
    width:140px;}
.navbar{
    background:none;
    visibility: hidden;}
/*  */
.space{
    padding:8vh;
}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf'); } 
.main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}
.artworks{
    text-align: center;
}
.thumbnail {
    width:250px;
    height:200px;
    object-fit: cover;
    object-position: 0 40%;
    margin:1%;
}
/* fonts */
h1{
    font-family:chickadee;
    font-size:5em;}
p{
    font-family:'Times New Roman', Times, serif;
    font-size:1.5em;
    text-align:left;}
/* */
@media only screen and (max-width: 750px) {
    h1{font-size:50px;}
    p{font-size:20px;}
    .nav{visibility:hidden;}
    .navbar{
        visibility:visible;
        background-color:#2c447d;}
  }