body{
    background-color:#f9f2ec;}
/* Navbars */
.nav{
    top: 0;
    right:0;
    position:fixed;}
.navItem img{
    width:140px;
    margin:0px 20px;}
.nav-item img{
    width:140px;}
.navbar{
    background:none;
    visibility: hidden;}
/*  */
.space{
    padding:40px;
}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf'); } 
.main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* fonts */
h1{
    font-family:chickadee;
    font-size:5em;}
p{
    font-family:'Times New Roman', Times, serif;
    font-size:1.5em;
    text-align:left;}
/* */
@media only screen and (max-width: 600px) {
    h1{font-size:50px;}
    p{font-size:20px;}
    .nav{visibility:hidden;}
    .navbar{
        visibility:visible;
        background-color:#f9f2ec;}
  }