html {
    scroll-behavior: smooth;}
.zoom{
    position: fixed;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.5);
    display: none;
    z-index:2;
}
.zoom img{
    margin:auto;
    max-height:70%;
    max-width:100%;
}
body{
    background: linear-gradient(#a5548d, #19316d) fixed;
    color:#eeeeee;}
.space{
    padding:8vh;
}
@font-face { 
    font-family: chickadee; src: url('../../lib/chickadee.ttf'); } 
.main{
    text-align: center;}
.rows{
    width:100%;
    display:flex;
    margin-bottom:3vw;
}
.thumbnail {
    flex:1;
    width:300px;
}
.thumbnail img{
    width:100%;
    object-fit: contain;
    border-radius:3%;
}
.high{
    display:none;
}
.thumbnail img:hover{
    box-shadow: 0 0 10px white;
    cursor:pointer;
}
.description{
    text-align:center;
    padding: 0 2vw;
    flex:2;
}
.description h1{
    font-size:50px;
    border-bottom: 2px solid white;
}
.otherThumbnail{
    margin-bottom: 2vw
}
.otherThumbnail img{
    width:100%;
    object-fit: contain;
}
.otherThumbnail img:hover{
    box-shadow: 0 0 10px white;
    cursor:pointer;
}
.toProject{
    color:rgba(255,255,255,0.2);
    position: fixed;
    height:100vh; 
    width: 100vw;
    z-index: inherit 3;
    pointer-events: none;
}
.toProject p{
    text-align: right;
    position: absolute;
    right:2%;
    top:20%;
    cursor: pointer;
    background-color:rgba(0,0,0,0.2);
    padding:5pt;
    border-radius: 5%;
    pointer-events: auto;
}
.toProject p:hover{
    color:white;
    background-color:rgba(0,0,0,0.4);
}
/* fonts */
h1{
    font-family:chickadee;
    font-size:5em;}
p{
    font-family:sans-serif, Helvetica, sans-serif;
    font-size:1.5em;
    line-height:35px;
    text-align:left;}
/* */
@media only screen and (max-width: 750px) {
    body{background:#283e7a;}
    .loading{background:#283e7a;}
    .loading img{width:40%;}
    .description h1{font-size:30px;}
    p{font-size:15px;
    line-height:18px}
    .nav{visibility:hidden;}
    .navbar{
        visibility:visible;}
  }